/* basic setting */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 85%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

section {
  padding: 90px 0;
}

h2 {
  margin-bottom: 75px;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* header */

#header {
  position: fixed;
  width: 100%;
  height: 50px;
  left: 0;
  right: 0;
  background-color: #222;
  z-index: 100;
}

#logo img {
  float: left;
  width: 90px;
  height: 50px;
}

.menu-button {
  float: right;
  margin-top: 4px;
  font-size: 25px;
  line-height: 40px;
  color: #fff;
  background: transparent;
  padding: 0 0 0 15px;
  border: 0;
}

.menu-button-checkbox {
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
  height: 40px;
  margin: 0 -15px 0 0;
  opacity: 0;
}

.menu-button-checkbox:checked ~ nav .nav {
  display: block;
}

.nav {
  display: none;
  position: fixed;
  top: 48px;
  left: 0;
  width: 100%;
  background-color: #222;
}

.nav li {
  text-align: center;
  padding: 4px 0;
  border-bottom: 1px solid #333;
}

.nav li a {
  padding: 7px 10px;
  color: white;
}

.nav li a:hover {
  color: #000;
  background-color: #f7f7f7;
  border-radius: 10px;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* background image */

.home_bg {
  background-image: url(../images/7f63e516b6b6fdd1bc81b62f4c2edecf_s.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container_table {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}

.container_table_cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.container_table_cell h2 {
  color: #fff;
  text-transform: capitalize;
  font-size: 54px;
}

.social_icons a {
  color: #fff;
  display: inline-block;
  width: 30px;
  height: 40px;
  line-height: 40px;
  font-size: 19px;
  margin-right: 7px;
}

/* about me */

.about_me {
  background-color: #f7f7f7;
}

.col-left,
.col-right {
  float: left;
  width: 50%;
  padding: 0 15px;
}

.personal-info h3 {
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 6px;
  text-transform: capitalize;
}

.personal-info p {
  color: #787878;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 30px;
}

.personal-info p a {
  color: #000;
  display: inline-block;
  margin-bottom: 12px;
}

.skill {
  margin: 10px auto;
}

.skill li {
  font-size: 15px;
  line-height: 35px;
  text-transform: capitalize;
}

.skill_icons {
  color: #5a726d;
  font-size: 40px;
  margin-left: 15px;
}

.skill_icons i {
  padding-right: 18px;
}

.button-group .download_resume,
.button-group .hire_me {
  display: inline-block;
}

.button-group .download_resume {
  margin-right: 18px;
}

.button-group a {
  display: block;
  color: #000;
  border: 1px solid #333;
  border-radius: 10px;
  text-transform: capitalize;
  padding: 10px 38px;
  margin-top: 10px;
}

.button-group a:hover {
  background-color: #000;
  color: #fff;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -webkit--moz-transition: all 0.4s linear;
  -moz--ms-transition: all 0.4s linear;
  -ms--o-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

/* resume */

.col-horizontal {
  padding-bottom: 16px;
  border-bottom: 1px solid #767676;
}

.col-horizontal:last-child {
  border-bottom: 0;
}

h3.resume-subtitle {
  font-size: 20px;
  margin-top: 12px;
  margin-left: 15px;
  text-transform: capitalize;
}

.col-horizontal .col-item {
    width: 100%;
    padding: 40px 15px;
}

.experience-year {
  color: #fff;
  background-color: #000;
  display: inline-block;
  padding: 4px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.resume-detail .col-left {
  float: left;
  width: 50%;
  padding-left: 0;
  text-align: center;
}

.resume-detail .col-right {
  float: left;
  width: 50%;
  letter-spacing: 2px;
  padding-top: 0;
}

.resume-detail img {
  height: 80px;
  width: 80px;
}

.resume-detail .col-right h4 {
  font-size: 15px;
  line-height: 22px;

}

.resume-detail .col-right h6 {
  font-size: 12px;
  margin-bottom: 9px;
  margin-top: 10px;
  font-weight: 700;
}

.resume-detail .col-right p {
  line-height: 22px;
  letter-spacing: 2px;
}

/* project */

.works {
  background-color: #f7f7f7;
}

.col-work {
  float: left;
  width: 100%;
  padding: 0 12px;
}

.col-work a {
  display: block;
  margin-bottom: 22px;
  border-radius: 12px;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.col-work img {
  height: 280px;
  width: 100%;
  border-radius: 12px;
  border: 3px solid #000;
}

.col-work a:hover {
  box-shadow: 15px 15px 22px 0 rgba(120, 91, 95, 0.3);
  top: -7px;
  left: -7px;
}

/* contact */

.mark {
    font-size: 180px;
    font-weight: 700;
    color: rgba(90, 90, 90, 0.2);
    background-color: #fff;
    margin-top: 10px;

}

.icon {
  text-align: center;
  margin-top: -40px;
  margin-right: auto;
}

.namecard {
    text-align: left;
    border-radius: 8px;
    width: 200px;
    height: 300px;
    padding: 25px;
    margin: 0 auto;
    background-color: #f1f1f1;
    box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.icon a {
  color: #3d3d3d;
}
.icon i {
  color: #3d3d3d;
  font-size: 25px;
  margin: 5px;
  margin-top: 40px;
}

.namecard h2 {
  font-size: 24px;
  letter-spacing: 5px;
  text-align: left;
  margin: 0;
}

.namecard h2 span {
  font-size: 13px;
  top: -10px;
  font-weight: 1000;
  letter-spacing: 1px;
  color: #333;
  position: relative;
}

.title {
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  top: 10px;
  left: -40px;
  color: #3d3d3d;
  margin-top: 20px;
}

.content {
  font-size: 14px;
  font-weight: 600;
  color: #3d3d3d;
  padding-top: 0;
}

/* footer */

footer {
  padding: 80px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.footer-content p {
  line-height: 22px;
}

.footer-social-icon a i {
  color: #fff;
  display: inline-block;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 15px;
}

/* Mobile First */
/* ABOUT ME */

.summary {
  display: flex;
  flex-flow: column wrap;
}

.col-left {
  width: 100%;
}

.col-right {
  width: 100%;
  padding-top: 25px;
}

.button-group {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.download_resume,
.hire_me {
  text-align: center;
  width: 100%;
  margin: 10px 0;
}

/* min-width: 768px */

@media screen and (min-width: 768px) {
  /* Header */
  .menu-button,
  .menu-button-checkbox {
    display: none;
  }

  .nav {
    line-height: 40px;
    float: right;
    display: block;
    position: static;
    width: auto;
  }

  .nav li {
    display: inline-block;
    padding: 0px 0px;
  }

  /* Homepage Background image */
  .home_bg,
  .overlay {
    height: 100%;
  }

  /* About Me */
  .summary {
    display: flex;
    flex-flow: row wrap;
  }

  .col-left,
  .col-right {
    width: 50%;
    padding: 0px 10px;
  }

  .button-group {
    display: flex;
    flex-flow: row;
  }

  /* Resume */
  .resume-detail .col-left {
    width: 30%;
    padding: 0px 10px;
  }

  .resume-detail .col-right {
    width: 70%;
    padding: 0px 10px;
  }

  .col-horizontal .col-item {
    width: 50%;
    padding: 40px 15px;
    float: left;
}

  /* contact */
  .mark {
    margin: 0 80px;
    font-weight: 500;
    padding-left: initial;
  }



}
